.courtierSection .MainImage {
    max-width: 500px; 
    max-height: 600px; 
}

.courtierSection  {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
}

.Courtier {
    margin-top: 100px; 
}