.CompagniesAssurances {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CompagniesAssurances .iconBoxCtn {
    max-width: 1000px;
}

.liAssurance {
    display: block;
}

.CompagniesAssurancesTextContainer {
    max-width: 1000px;
}

.CompagniesAssurancesParagraphe {
    line-height: 25px;
    margin-top: 10px;
}

.CompagniesAssurancesTitle {
    margin-top: 30px;
}

.listAndImageContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 100px 0;
}

.logoPageAssureur {
    display: inline-block;
    margin-bottom: 30px;
}

@media screen and (min-width: 500px) and (max-width: 900px){
    .CompagniesAssurancesTextContainer{
        padding: 0px; 
    }
    .Courtier .SimpleTextParagraphe{
        padding: 0px; 
    }
    .CompagniesAssurancesTextContainer h1,  .CompagniesAssurancesTextContainer h2 , p{
        padding: 0 50px; 
    }
    .logoPageAssureur {
        margin-left: 50px; 
    }
    #homeTextbox p{
        padding: 0; 
    }
}