.ItemsSection {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
    padding: 30px 10px;  

}

.ItemsSection.two {
    background-color: rgb(120, 205, 238);
}

.ItemsSection.two .soloItemAndTitleContainer {
    background-color: #fff;
}


.itemsContainer{
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;
    flex-wrap: nowrap; 
    margin: 50px 0; 
}

.doubleItemCtn{
    width: 100%; 
    min-width: 300px; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-around; 
}
.doubleItemCtn.one{
}

.itemsImage {
    width: 50px;
    height: 50px;
}


.ItemsSectionTitle {
    font-size: 20px;
}


.soloItemAndTitleContainer {
    min-width: 150px;
    min-height: 150px;
    background-color: rgb(120, 205, 238);
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.itemTitle {
    font-size: 16px;
    margin-top: 10px;
    max-width: 100px;
}



@media screen and (min-width: 601px) and (max-width: 900px){
    .itemsContainer{
        flex-wrap: wrap; 
        flex-direction: column ;   
    }
    .doubleItemCtn.one{
        margin-bottom: 50px; 
    }
}

@media screen and (max-width: 600px){
    .itemsContainer{
        flex-wrap: wrap; 
        flex-direction: column ;   
    }
    .doubleItemCtn.one{
        margin-bottom: 50px; 
    }
    .ItemsSectionTitle {
        max-width: 70%; 
        margin: auto; 
    }
}