.TextBox {
    max-width: 800px;
    margin-left: 50px;
}

.textBoxParagraphe {
    font-size: 14px;
    color: #ddd;
    margin-top: 20px;
}

.textBoxTitle {
    color: #bbb;
}

.underline {
    width: 50px;
    border: 2px solid #fff;
    border-radius: 10px;
    margin-top: 20px;
}

.simpleBtnTxtBoxCtn {
    margin-top: 50px;
}

@media screen and (min-width: 500px) and (max-width: 900px){
    .MainImageTextBoxCtn{
        width: 100%; 
    }
    .TextBox{
        margin: 0px 0 0 0; 
        max-width: 300px; 
        margin-left: 0px;

    }

}

@media screen and (max-width: 500px){
    .MainImageTextBoxCtn{
        margin: 0;
    }
    .textBoxParagraphe {
        padding: 0; 
    }
    .TextBox{
        max-width: 300px; 
        margin-left: 0px;

    }
}