.courtierSection .MainImage {
    max-width: 500px;
    max-height: auto;
}

.courtierSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Courtier {
    margin-top: 100px;
}

@media screen and (min-width: 500px) and (max-width: 900px){
    .Courtier{
        margin-top: 50px; 
    }
    #imgCourtier{
        width: 200px;  
        margin: 0 0 20px 0; 
    }
    .courtierSection {
        display: flex;
        flex-direction: column;

    }
    .SimpleTextBox3 {
        max-width: 100%;
        max-height: auto;
        padding: 0; 
    }
    #imgCourtier {
        margin-bottom: 50px; 
    }
}

@media screen and (max-width: 500px){
    .courtierSection {
        display: flex;
        flex-direction: column;
    }
    .Courtier{
        margin-top: 50px; 
    }
    #imgCourtier {
        margin-bottom: 50px; 
    }
}