.Footer {
    min-height: 300px;
    background-color: rgb(16, 13, 34);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #aaa;
    margin-top: 100px;
}
.Logofooter:hover {
    transform: none;
}

.footerLinkSection {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.linkBlock ul li:hover {
    color: #eee;
}

.footerLink{
    font-size: 14px; 
    display: block; 
    text-decoration: none; 
    color: #aaa; 
}
.footerLink:hover{
    color: #eee;
}

.copyright {
    margin-top: 20px;
    color: #fff;
    font-size: 10px;
}

@media screen and (min-width: 500px) and (max-width: 900px){
    .Footer{
        margin: 50px 0 0 0; 
    }
}