.Logo {
    display: inline-block; 
    width: 200px; 
    cursor: pointer;
    transition: transform .1s;
}

.Logo:hover {
    display: inline-block; 
    width: 200px; 
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
}