.Navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #000;
    height: 50px;
    padding: 40px;
    border-bottom: 1px solid black; 

  }

  .dropdown{
padding: 0;     
  }
  .dropdown-toggle::after{
    display: none; 
  }

.menu {
    display: flex;
    flex-direction: row;
    align-items: center; 
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu .menuLi {
    margin: 0 1rem;
    cursor: pointer; 
    transition: transform .1s;
  }

  .menu .menuLi:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #333;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }


.menuLinkDropdown {
  display: inline-block; 
  color: #333; 
  text-decoration: none; 
  margin-bottom: 5px; 
  padding: 10px; 
  display: block; 
}
.menuLinkDropdown:hover {
   background-color: #e2f8fd; 
    color: #333; 
}
  .menuLink{
    color: #333; 
    text-decoration: none; 
  }


  .DropDownButton:hover div.dropdown-menu.show {
    display: block; 
  }

  .DropDownButton:hover div.dropdown-menu {
    display: block; 
  }
  div.dropdown-menu {
    padding: 0px; 
    display: none; 
  }

  div.dropdown-menu.show {
    padding: 0px; 
    display: none; 
  }

  .dropdown li.menuLi {
    margin: 0; 
    display: block; 
  }

  .dropdown .menuLi:hover {
    transform: none;

  }
  @media (max-width: 850px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 80px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  }